{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    我的网站|首页
{% endblock %}
{% block header-extend %}
    <link rel="stylesheet" href="{% static 'blog/css/home.css' %}">
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
<div class="header-banner">
    <div class="container">
        <h1>LJ Blog</h1>
        <p>尚未佩妥剑，<span class="hidden-xs">转眼便江湖。</span>愿历尽千帆，归来仍少年</p>
        <p>江湖人的博客</p>
    </div>
</div>
    <div class="container">
        <div class="content-item">
            <h3 class="content-item-title">
                <span class="glyphicon glyphicon-pencil"></span>
                <span>博客</span>
                <span class="content-more">
                    共{{ blog_of_all_nums }}篇博客
                    <a href="{% url 'blog:blog_list' %}">more&gt;</a>
                </span>
            </h3>
            <div class="row">
            <div class="col-sm-4">
                <div class="home-block">
                    <h4 class="home-block-title">博客分类</h4>
                    <ul class="list">
                        {% for blog_type in blog_types %}
                                <li>
                                    <a href="{% url 'blog:blog_with_type' blog_type.pk %}">
                                        {{ blog_type.type_name }}({{ blog_type.blog_count }})
                                    </a>
                                </li>
                            {% empty %}
                                <li>暂无博客分类</li>
                            {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="home-block" style="min-height: 380px;">
                    <!--阅读排行榜-->
                    <div class="read-nav">
                        <div class="read-list">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="javascript:void(0);">联系我</a></li>
                                <li><a href="javascript:void(0);">趋势图</a></li>
                                <li><a href="javascript:void(0);">昨日阅读榜</a></li>
                                <li><a href="javascript:void(0);">Django2.0教程</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="read-content">
                        <div class="read-content-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img style="width: 75%; max-width: 15em;" src="{% static 'blog/img/QRcode.jpg' %}">
                                </div>
                                <div class="col-sm-8">
                                    <h4 style="margin-bottom: 0em;margin-top: 1em;font-weight: bolder;">
                                        再敲一行代码
                                    </h4>
                                    <p style="margin-bottom: 2em;">突破局限，编写自己的人生</p>
                                    <p>我的公众号用来写我的思考和感悟。<br>有感悟就写，更新频率可能会比较低。<br>也可通过公众号和我聊天~</p>
                                </div>
                            </div>
                        </div>
                        <div class="read-content-item read-chart" style="display:none;">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <!-- 图表容器 DOM -->
                                    <div id="container"></div>
                                    <p id="chart_text"></p>
                                </div>
                            </div>
                        </div>

                        <div class="read-content-item" style="display:none;">
                            <ul class="list">

                                    <li>
                                        <span class="glyphicon glyphicon-thumbs-up"></span>
                                        <span class="read-num">89</span>
                                        <a href="http://yshblog.com/blog/148" target="_blank">Python爬虫入门 (看这篇就够了)</a>
                                    </li>

                                    <li>
                                        <span class="glyphicon glyphicon-fire"></span>
                                        <span class="read-num">80</span>
                                        <a href="http://yshblog.com/blog/193" target="_blank">django-ckeditor后台富文本编辑器</a>
                                    </li>

                                    <li>
                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                        <span class="read-num">41</span>
                                        <a href="http://yshblog.com/blog/117" target="_blank">Python生成pyd文件</a>
                                    </li>

                                    <li>
                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                        <span class="read-num">31</span>
                                        <a href="http://yshblog.com/blog/156" target="_blank">我的网站搭建(第52天) 使用Redis缓存提速</a>
                                    </li>

                                    <li>
                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                        <span class="read-num">23</span>
                                        <a href="http://yshblog.com/blog/163" target="_blank">Django初步使用Celery</a>
                                    </li>

                                    <li>
                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                        <span class="read-num">23</span>
                                        <a href="http://yshblog.com/blog/164" target="_blank">Django Celery定时任务和时间设置</a>
                                    </li>

                                    <li>
                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                        <span class="read-num">22</span>
                                        <a href="http://yshblog.com/blog/40" target="_blank">Python读写docx文件</a>
                                    </li>

                                    <li>
                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                        <span class="read-num">21</span>
                                        <a href="http://yshblog.com/blog/41" target="_blank">Python读写utf-8的文本文件</a>
                                    </li>

                                    <li>
                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                        <span class="read-num">19</span>
                                        <a href="http://yshblog.com/blog/1" target="_blank">我的网站搭建(第1天) Hello Django</a>
                                    </li>

                                    <li>
                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                        <span class="read-num">18</span>
                                        <a href="http://yshblog.com/blog/44" target="_blank">以图搜图(二)：Python实现pHash算法</a>
                                    </li>

                                    <li>
                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                        <span class="read-num">18</span>
                                        <a href="http://yshblog.com/blog/52" target="_blank">Django点赞功能实现</a>
                                    </li>

                                    <li>
                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                        <span class="read-num">17</span>
                                        <a href="http://yshblog.com/blog/178" target="_blank">Django拆分app为多个小app</a>
                                    </li>

                                    <li>
                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                        <span class="read-num">16</span>
                                        <a href="http://yshblog.com/blog/94" target="_blank">vba正则表达式入门</a>
                                    </li>

                                    <li>
                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                        <span class="read-num">16</span>
                                        <a href="http://yshblog.com/blog/165" target="_blank">服务器使用Supervisor后台运行Celery</a>
                                    </li>

                            </ul>
                        </div>

                        <div class="read-content-item" style="display:none;">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1" style="margin-top:1em;">
<h4 style="line-height: 1.25em;">我录制的Django2.0教程放在B站。<br>平常工作比较忙，而且为了保证质量。<br>大概3、4天更新一次。<br><br>
                                    <a href="http://space.bilibili.com/252028233/#/channel/detail?cid=28138" target="_blank">点击前往：Django2.0视频教程</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>


        <div class="content-item">
            <h3 class="content-item-title">
                <span class="glyphicon glyphicon-fire"></span>
                <span>热读榜</span>
            </h3>

            <div class="row">
                <div class="col-sm-4">
                    <div class="home-block">
                        <h4 class="home-block-title">今天热门博客</h4>
                        <ul class="list">
                            {% for hot_data in today_hot_data %}
                                <li>
                                    <span class="glyphicon glyphicon-fire"></span>
                                    <span class="read-num">{{ hot_data.read_num }}</span>
                                    <a href="{% url 'blog:blog_detail' hot_data.content_object.pk %}">
                                        {{ hot_data.content_object.title }}
                                    </a>
                                </li>

                            {% empty %}
                                <li>今天暂时没有热门博客</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="home-block">
                        <h4 class="home-block-title">昨天热门博客</h4>
                        <ul class="list">
                            {% for hot_data in yesterday_hot_data %}
                                <li>
                                    <span class="glyphicon glyphicon-fire"></span>
                                    <span class="read-num">{{ hot_data.read_num }}</span>
                                    <a href="{% url 'blog:blog_detail' hot_data.content_object.pk %}">
                                        {{ hot_data.content_object.title }}
                                    </a>
                                </li>

                            {% empty %}
                                <li>昨天暂时没有热门博客</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                <div class="home-block">
                    <h4 class="home-block-title">周榜</h4>
                    <ul class="list">
                        <ul>
                        {% for hot_blog in hot_blogs_for_7_days %}
                            <li>
                                <span class="glyphicon glyphicon-fire"></span>
                                <span class="read-num">{{ hot_blog.read_num_sum }}</span>
                                <a href="{% url 'blog:blog_detail' hot_blog.id %}">
                                    {{ hot_blog.title }}
                                </a>
                            </li>

                        {% empty %}
                            <li>七天内暂时没有热门博客</li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>



{#    <!-- 图表容器 DOM -->#}
{#    <div id="container"></div>#}


    <script type="text/javascript">
        /*绑定切换排行榜页面*/
        $(".read-list li").each(function(){
            $(this).click(function(){
                //设置active
                var index = $(".read-list li").index($(this));
                $(".read-list li").removeClass('active');
                $(this).addClass('active');

                //切换标签页
                $(".read-content-item").hide();
                $(".read-content-item:eq(" + index + ")").show();
            });
        });

        /*设置排行样式*/
        $(".read-content-item").each(function(){
            var icons = ['glyphicon-thumbs-up', 'glyphicon-fire']
            var old_icons = 'glyphicon-arrow-up'

            for (var i = 0; i < icons.length; i++) {
                var item = $(this).find('ul li:eq('+i+')');
                var icon = item.find('.glyphicon');
                if(icon){
                    icon.removeClass(old_icons)
                    icon.addClass(icons[i]);
                }
            };
        });
        // 图表配置
        var options = {
            chart: {
                type: 'line'                          //指定图表的类型，默认是折线图（line）
            },
            title: {
                text: null
            },
            xAxis: {
                categories: {{ dates|safe }},   // x 轴分类
                tickmarkPlacement:'on',
                title: { text: '前七日阅读变化' },
            },
            yAxis: {
                title: { text: null},
                labels:{ enabled: false },
                gridLineDashStyle: 'Dash',
            },
            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{ read_nums }}                     // 数据
            }],
            legend:{ enabled: false },
            credits:{ enabled: false },
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
   </script>
{% endblock %}